<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon class="text-white" name="arrow-back-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="text-white text-center uppercase">More on dinosaurs</h4>
  <!-- Component Code -->
<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
  <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-10">
    <div class="rounded overflow-hidden shadow-lg">
  <a href="#"><div class="relative">
    <img class="w-full" src="../assets/4.jfif" alt="Sunset in the mountains">
    </div></a>
  <div class="px-6 py-4">
    <p class="text-white">
      Dinosaurs are a group of reptiles that have lived on Earth for about 245 million years. 
      Everything we know about non-avian dinosaurs is based on fossils, which include bones, teeth, footprints, tracks, eggs, and skin impressions. For centuries, people throughout the world have discovered amazing fossilized bones and footprints. Early finds inspired legends and fairy tales, as people imagined that these bones belonged to giants or huge monsters.
    </p>
  </div>
  <div class="relative">
    <img class="w-full" src="../assets/5.jfif" alt="Sunset in the mountains">
    </div>
    <div class="px-6 py-4">
      <p class="text-white">
        The earliest known dinosaurs appeared during the Triassic Period (approximately 250 to 200 million ago). Dinosaurs evolved into a very diverse group of animals with a vast array of physical features, including modern birds.
         </p>
    </div>

    <div class="relative">
      <img class="w-full" src="../assets/6.jfif" alt="Sunset in the mountains">
      </div>
      <div class="px-6 py-4">
        <p class="text-white">
          Most theropod dinosaurs, such as Tyrannosaurus, had teeth that were pointed, slightly curved backwards, and serrated. The sharp points pierced the meat, and the serrations helped slice it by catching and tearing muscle fibers. Meat eaters didn’t chop or grind their food; they swallowed chunks whole.
           </p>
      </div>
      <ul class="text-gray-700 flex items-center justify-around">
        <li class="flex flex-col items-center justify-around">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 fill-current text-emerald-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
          </svg>
        </li>
        <li class="flex flex-col items-center justify-between">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 fill-current text-sky-600" viewBox="0 0 20 20" fill="currentColor">
            <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
          </svg>
        </li>
        <li class="flex flex-col items-center justify-around">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 fill-current text-pink-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
          </svg>
          <!-- <div class="text-white">15</div> -->
        </li>
      </ul>
      <br>
</div>
  </div>
</div>
</ion-content>
