<ion-header >
  <ion-toolbar>
    <ion-title class="text-white uppercase text-center">
      favourite mythicals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <section class="relative w-full max-w-md px-5 py-4 mx-auto rounded-md">
    <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24" fill="none">
                <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </span>

        <input type="text" [(ngModel)]="filterTerm" class="w-full py-3 pl-10 pr-4 text-cyan-50 bg-slate-900 border rounded-md  focus:border-black" placeholder="Search">
    </div>
</section>
<div  *ngIf="mythicals.length == 0">
<h2 class="text-cyan-50 text-center">You don't have any favourites yet. Please add some.</h2>
</div>
  <div *ngFor="let post of mythicals | filter:filterTerm" class="max-w-2xl mx-4 mt-2 shadow-xl rounded-lg">
    <div >
      <div class="rounded-t-lg h-64 overflow-hidden">
        <img  [routerLink]="['/tabs/tab4']" class="object-cover object-top w-full h-full" src='{{post.first_image}}' alt='{{post.title}}'>
        <p class="text-center uppercase text-cyan-50 bottom-6 opacity-100 relative">{{post.title}}</p>
      </div>
      <ul class="text-gray-700 flex items-center justify-around">
        <li (click)="removeFavourite(post)" class="ml-24">
          <button class="text-red-500  font-bold uppercase text-xs px-4 py-2 rounded outline-none  mr-1 mb-1 ease-linear transition-all duration-150" type="button"
          >
           REMOVE
    </button>
        </li>
        
        <br>
      </ul>
    </div>
  </div>
  <br>
</ion-content>
